html, body {
    height: 100%;
    margin: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

.header {
    height: 30px;
    background-color: black;
}

.sub-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.side-bar {
    flex: 1;
    background-color: white;
    min-width: 100px;
}

.content {
    flex: 2;
    height: 100%;
    background-color: white;
}

.text {
    margin-top: 5px;
    display: inline-block;
    color: white;
}

.link {
    display: inline-block;
    color: white;
    background-color: black;
    float: right;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
}

.bordered {
    border-right: 1px solid white;
}
.green {
    background-color: green;
}

.footer {
    background-color: navy;
}